body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    background-color: #f8f9fa;
    color: #343a40;
    text-align: center; /* Center align text globally */
}

.header {
    background-image: url('https://images.unsplash.com/photo-1506748686214-e9df14d4d9d0?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&q=80&w=1080');
    background-size: cover;
    background-position: center;
    color: #ffffff;
    padding: 40px 20px;
}

.header h1 {
    font-weight: 700;
}

.main {
    margin-top: 20px;
}

.month-select {
    margin-bottom: 20px;
    text-align: center; /* Center align dropdown text */
}

.month-select label {
    display: block;
}

.month-select select {
    display: inline-block;
    text-align: center;
    text-align-last: center; /* Center align selected option */
    width: 100%;
    max-width: 300px;
    margin: 0 auto;
}

.table {
    width: 100%;
    border-collapse: collapse;
}

.table th, .table td {
    padding: 10px;
    border: 1px solid #dee2e6;
    text-align: center; /* Center align table text */
}

.table th {
    background-color: #343a40;
    color: #ffffff;
}

.status-received {
    background-color: #11734b;
    color: white;
}

.status-pending {
    background-color: #fff48e;
    color: black;
}

.status-overdue {
    background-color: #ff917d;
    color: white;
}

@media (min-width: 768px) {
    .container {
        max-width: 600px;
        margin: 0 auto;
    }
}
